@import "tailwindcss";


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
 html {
  scroll-behavior: smooth;
}

 :root{
--mra-orange: #ff7a1a;
--mra-blue: #27408B;
}


/* Optional glass style */
.card-glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-mra-orange {
  color: var(--mra-orange);
}

.text-mra-blue {
  color: var(--mra-blue);
}


.btn-gradient {
  background: linear-gradient(to right, var(--mra-orange), var(--mra-blue));
  color: white;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-gradient:hover {
  opacity: 0.9;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}


 /* small utility for subtle glass-like cards */
/* .card-glass{
background: rgba(255,255,255,0.6);
backdrop-filter: blur(6px);
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;

  /* font-family: Arial, Helvetica, sans-serif; */
} 
